<ion-header no-border>
  <ion-toolbar transparent>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateUser()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">

        <div class="logo-container">
          <ion-avatar>
            <img src="../../assets/img/nitendo.jpg" alt="" srcset="">
          </ion-avatar>
          <a (click)="changePhoto()">
            <p style="text-align: center;">Mudar Foto</p>
          </a>
        </div>

        <div padding class="input-container">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input required type="text" [(ngModel)]="user.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Plataforma</ion-label>
            <ion-input required type="text" [(ngModel)]="user.plataforma"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Game</ion-label>
            <ion-input required type="text" [(ngModel)]="user.game"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descrição</ion-label>
            <ion-textarea maxlength="500" rows="9" [(ngModel)]="user.description"></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>