<ion-header no-border>
  <ion-toolbar transparent>
    <ion-title>register-profile</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="newProfile.description" placeholder="Digite a descrição"></ion-input>
  
  <ion-toggle [(ngModel)]="newProfile.isAdmin" color="primary"></ion-toggle> Administrador?

  <ion-button (click)="save()" expand="block">CADASTRAR</ion-button>
</ion-content>
