ion-grid {
  ion-card {
    border-radius: 2em;
    max-width: 85vw;
    min-width: 16vw;

    ion-item{
      --background: transparent;
      --color: black;
    }

    .message-date {
      position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6em;
    margin: 0 1.7em;
    }  
     
    p {
      max-width: 100%;
      margin-top: 1.1em;
    }
  }
}

.my-send {
  --background: #E6E6E6;
}

ion-toolbar {
  ion-title {
    margin: 0;
    padding: 0 0.5em;
  }
  
  ion-avatar {
    height: 3em;
    width: 3em;
    
    ion-icon{
      width: 100%;
      height: 100%;
    }
  }
}

.input-send {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  ion-input{
    background: #E6E6E6;
    border-radius: 1.5em;
    height: 3em;
    margin-bottom: 0.5em;
    width: 95vw;
    margin-left: 2.5vw;

    input {
      max-width: 85% !important;
    }
  }
  
  ion-icon {
    position: absolute;
    z-index: 9999;
    color: var(--ion-color-primary);
    height: 2.7em;
    width: 2.7em;
    right: 0;
    margin: 0.20em 1.5em;
  }
  
}

ion-fab-button {
  width: 71%;
  margin-left: 0.85em;
  height: 72%;
  margin-top: 0.5em;
}

.toolbar-has-focus {
  height: 44.5vh; 
}
