ion-grid {
  ion-card {
    max-width: 94vw;
        
    p {
      max-width: 100%;
    }
  }
}

ion-toolbar {
  ion-title {
    margin: 0;
    padding: 0 0.2em;
  }
  
  ion-avatar {
    height: 2.7em;
    width: 2.7em;
    
    ion-icon{
      width: 100%;
      height: 100%;
    }
  }
}


.input-send {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  ion-icon {
    width: 100%;
    height: 100%;
  }
}