<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-xs="9">
        <div class="logo-container">
          <img src="../../assets/img/zed.png" alt="zed">
        </div>

        <ion-card id="login-card">
          <div padding class="input-container">
            <ion-input [(ngModel)]="email" placeholder=" Email Address"></ion-input>
            <ion-input [(ngModel)]="password" placeholder=" Senha " type="password"></ion-input>
          </div>
        </ion-card>

        <div class="forgot-container">
          <a (click)="goToForgotPassword()">Esqueceu a senha?</a>
        </div>

        <div class="button-container">
          <ion-button [disabled]="!email || !password" color="danger" expand="block" (click)="logar()">Entrar</ion-button>
        </div>

        <div class="account-container" text-center>
          <p>Não tem conta ainda?</p>
          <a (click)="goToRegister()" style="color: red" >Cadastre-se</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>