.logo-container{
  overflow: hidden;
  height: 250px;
}
.logo-container img{
  width: 95%;
  height: 100%;
  transform: scale(0.6);
}
.button-container {
  margin: 15px 0;
}
.button-container ion-button{
  --border-radius: 50px;
}

.account-container {
  margin: 30% 0 0 0;
}

.forgot-container {
  margin: 0 10px;
  size: 15px;
}