.logo-container{
  margin-top: 8vh;
  height: 35vh;

  img{
    width: 100%;
    height: 100%;
    transform: scale(0.7);
  }
}

.button-container {
  margin: 2vh 0;

  ion-button{
    --border-radius: 20em;
  }

}
 
.account-container {
  margin: 13vh 0 0 0;
  a {
    color: var(--ion-color-primary);
  }
}

.forgot-container {
  margin: 0 2vw;
}

.has-focus:focus +  .logo-container{
  margin-top: 0;
}