.logo-container{
  overflow: hidden;
  height: 250px;
}
.logo-container img{
  width: 95%;
  height: 100%;
  transform: scale(0.6);
}

.input-container{
  border: 1px solid rgba(0,0,0, 0.4);
  border-radius: 8px;
}

.button-container ion-button{
  --border-radius: 50px;
}

.account-container {
  margin: 30% 0 0 0;
}

.forgot-container {
  padding: 15px 0;
  font-size: 17px;
}