<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!user.isAdmin">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="searching">
      <ion-icon name="compass"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom" *ngIf="user.isAdmin">
    <ion-tab-button tab="users">
      users
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="games">
      games
      <ion-icon name="logo-game-controller-b"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>