ion-content {
  --background: #fff url('../../assets/img/11854.jpg') no-repeat center center / cover;
}
ion-row{
  height: 250px;
}
ion-item{
  --background: transparent !important;
}

h1 {
  color: #fe4a49;
}