ion-content {
  --background: #fff url('../../assets/img/background2.jpg') no-repeat center center / cover;

  ion-row{
    height: 60vh;
  }
  
  ion-item{
    --background: transparent !important;
  }
  
  h1 {
    color: var(--ion-color-primary);
  }
}
