ion-content {
  --background: #fff url('../../assets/img/more-info-background.jpg') no-repeat center center / cover;
}

ion-item{
  --background: transparent !important;
}

.logo-container {
  margin: 20% auto;
}

.list-container{
  margin: 50% auto;
}

h1 {
  color: #fe4a49;
}