<ion-header no-border>
  <ion-toolbar transparent>
    <ion-title>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item-sliding>
      <ion-item *ngFor="let chat of chats" (click)="openChat(chat.uid)">
        <ion-avatar>
          <ion-img *ngIf="chat.photo" [src]="chat.photo"></ion-img>
          <ion-icon *ngIf="!chat.photo" name="contact"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>{{chat.userTwoUID}}</h3>
        </ion-label>
        <ion-icon name="heart" slot="end" color="primary"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Rejeitar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>