<ion-header no-border>
  <ion-toolbar transparent>
    <ion-title>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{user.name}}</h2>
          <h3>{{user.game}}</h3>
        </ion-label>
        <ion-icon name="heart" slot="end" color="primary"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Rejeitar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>