<ion-header no-border>
  <ion-toolbar transparent>
    <ion-title>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">

        <ion-list>
          <ion-item *ngFor="let chat of chats" (click)="openChat(chat.uid)">
            <ion-avatar>
              <ion-img *ngIf="chat.photo" [src]="chat.photo"></ion-img>
              <ion-icon *ngIf="!chat.photo" name="contact"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{chat.otherUser}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>