.photo-container{
  text-align: center;
  background: gray;

  img {
    border-bottom-left-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
    max-height: 40vh;
  }

  ion-icon {
    height: 30vh;
    width: 100vw;
  }

}
.edit-float {
  color: #F2F2F2;
}
.info-container {
  text-align: center;

  h2, h4 {
    margin: 1vh 0;  
  }

  h5{
    margin: 0 !important;
  }

  ion-icon {
    color: var(--ion-color-primary);
    width: 2em;
    margin-top: 1em;
    height: 2em;
  }
}