<ion-content>
  <div class="photo-container">
    <img src="../../assets/img/pc.jpg" alt="">
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="editProfile()" name="brush"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="info-container">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="medium">
              <h3>Informações pessoais: </h3>
            </ion-text>
            <h2>{{user.name}}, {{user.game}}</h2>
            <h5>{{user.plataforma}}</h5>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text color="medium">
                <h3>Descrição: </h3>
              </ion-text>
              <h2>{{user.description}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>