.photo-container{
  width: 100%;
  height: 30%;
  text-align: center;

  ion-img {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    background-size: cover;
  }

  ion-icon {
    margin: 15%;
    width: 100px;
    height: 100px;
  }

}
.info-container h2, h4 {
  margin: 10px 0px;
}