.photo-container{
  width: 100%;
  height: 240px;
  text-align: center;
}
.photo-container img {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.photo-container ion-icon {
  margin: 10%;
  width: 60%;
  height: 60%;
}

.info-container h2, h4 {
  margin: 10px 0px;
}