<ion-content>
  <div class="photo-container">
    <img src="../../assets/img/pc.jpg" alt="" >
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="brush"></ion-icon>
      </ion-fab-button>
  </ion-fab>

  <div class="info-container">
    <ion-row>
      <ion-col size="12">
        <h4>Nome Do User, Game que joga</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <p>todo descricao aki</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
