.photo-container{
  text-align: center;
  background: gray;

  img {
    border-bottom-left-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
    max-height: 40vh;
  }

  ion-icon {
    height: 30vh;
    width: 100vw;
  }

}

.info-container h2, h4 {
  margin: 1vh 0;  
}

.description-container{
  height: 32vh;
}