.logo-container {
  margin-top: 5vh;
}

.logo-container img{
  transform: scale(0.6);
}

ion-input{
  padding-top: 13vh !important;
}

.button-container {
  ion-button {
    --border-radius: 20em;
  }
}

.has-focus {
  padding-top: 0 !important;
}
.verify-container {
  text-align: center;
}