.logo-container {
  margin-top: 10vh;
}

.logo-container img{
  transform: scale(0.6);
}

.input-container {
  padding-top: 13vh;
}

.button-container {
  ion-button {
    --border-radius: 20em;
  }
}