img {
  border-radius: 2em;
}

h3 {
  margin: 2vh 0 2vh 5vw;
}

.image-container {
  img{
    width: 90vw;
    margin: 0 5vw;
  }
}

.info-container {
  ion-segment-button{
    margin: 0 1.5em;
    border: none !important;
    --background-checked: none !important;
  }

  img{
    height: 16vh;
    width: 40vw; 
  }
}
