<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="first-view-container">
    <h2>Find your duo</h2>
    <a href="searching">
      <img src="../../assets/img/teste.jpg" alt="">
    </a>
  </div>

  <div class="platforms-container">
    <h2>for all gamers</h2>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img src="../../assets/img/pc.jpg" alt="">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <img src="../../assets/img/phone.jpg" alt="">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <img src="../../assets/img/play.jpg" alt="" >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
