ion-card{
  position: absolute;
  text-align: center;
  height: 352px;
  width: 80%;
  border-radius: 8px;
  --background: #f4f4f8;

  ion-card-header{
    padding: 5px;
  }

  .card-image{
    width: 100%;
    height: 60%;
  }
  .card-image ion-icon{
    margin: 50px;
    width: 60%;
    height: 60%;
  } 
  .card-image ion-img{
    height: 100%;
  }
}
ion-list {
  overflow: hidden;
  overflow-y: auto;
}
.icon-container {
  width: 100%;
  text-align: center;
}
.icon-container ion-icon {
  font-size: 50px;
}

.liked {
  transition: visibility 0s linear 1000ms, opacity 1000ms;
  opacity: 0;
  height: 0;
  overflow: hidden;
}