ion-card{
  position: absolute;
  
  text-align: center;
  max-height: 352px;
  max-width: 80%;
  border-radius: 8px;
  --background: #f4f4f8;
  ion-card-header{
    padding: 5px;
  }
}
ion-list {
  overflow: hidden;
  overflow-y: auto;
  
}
.icon-container {
  width: 100%;
  text-align: center;
}
.icon-container ion-icon {
  font-size: 50px;
}

.liked {
  background: red;
}