ion-col {
  text-align: center;
}

.card-container {
  height: 75vh;

  ion-col {
    height: 100%;
  }
  .icon-container {
    text-align: center;

    ion-icon {
      margin: 33vh 0;
    }
  }
}

ion-card{
    position: absolute;
    text-align: center;
    height: 60vh;
    width: 80vw;
    margin: 8vh 10vw;
    border-radius: 1em;
    --background: #E6E6E6;

  ion-card-header{
    padding: 1em;
    ion-card-title {
      font-size: 2em;
      color: var(--ion-color);
    }
  }

  .card-image{
    background: #E6E6E6;
    height: 75%;
    
    img {
      position: absolute;
      top: 1em;
      left: 0;
      opacity: 0;
      height: 16vh;
      width: 35vw;
      transform: rotate(-45deg);
    }
  }
  .card-image ion-icon{
    margin: 6em;
    width: 11em;
    height: 11em;
  } 
  .card-image ion-img{
    height: 100%;
  }

  ion-list {
    background: #E6E6E6;
    margin: 0;
    padding: 0;
    p {
      margin: 0.05em;
    }
  }
  
}

.icon-container ion-icon {
  font-size: 3.5em;
}

.liked {
  --background: green !important;
  
  .card-image{
    background: green;
    transition: visibility 0s linear 1000ms, opacity 1000ms;
    opacity: 0;
    overflow: hidden;
    #like-text {
      opacity: 1;
    }
  }
  ion-list {
    background: green;
  }
}

.disliked {
  --background: red !important;
  
  .card-image{
    background: red;
    transition: visibility 0s linear 1000ms, opacity 1000ms;
    opacity: 0;
    overflow: hidden;
    #dislike-text {
      opacity: 1;
    }
  }
  ion-list {
    background: red;
  }
}