.card-container {
  height: 75vh;

  ion-col {
    height: 100%;
  }
  .icon-container {
    ion-icon {
      position: absolute;
      margin: 33vh 43vw;
    }
  }
}

ion-card{
    position: absolute;
    text-align: center;
    height: 60vh;
    width: 80vw;
    margin: 8vh 10vw;
    border-radius: 1em;
    --background: #f4f4f8;

  ion-card-header{
    padding: 1em;
  }

  .card-image{
    height: 58%;
    background: lightgray;
  }
  .card-image ion-icon{
    margin: 2em;
    width: 11em;
    height: 11em;
  } 
  .card-image ion-img{
    height: 100%;
  }

  ion-list {
    margin: 0 0.3em;
  }
  
}

.icon-container ion-icon {
  font-size: 3em;
}

.liked {
  background-image: url('../../assets/img/like.png');
  transition: visibility 0s linear 1000ms, opacity 1000ms;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.disliked {
  background-image: url('../../assets/img/dislike.png');
  transition: visibility 0s linear 1000ms, opacity 1000ms;
  opacity: 0;
  height: 0;
  overflow: hidden;
}