<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 80%">
      <ion-card *ngFor="let user of usuarios" swipeAll (swipeleft)="swipeLeft($event)"
        (swiperight)="swipeRight($event)">
        <img src="../../assets/img/pc.jpg" />
        <ion-card-header>
          <ion-card-title>{{user.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Jogo em : {{user.plataforma}}, game : {{user.game}} 
          <br><br>
          {{user.description}}
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <div class="buttons-container">
        <ion-icon name="close" color="primary"></ion-icon>
        <ion-icon name="heart" color="success"></ion-icon>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>