<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center>
      <p>{{recentCard}}</p>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 70%; width: 100%;">
      <div class="icon-container">
        <ion-icon *ngIf="!cards || !cards.length" name="refresh" (click)="initialize()"></ion-icon>
      </div>
      <ion-card [class.liked]="card.liked" *ngFor="let card of cards" swipeAll (swipeleft)="swipeLeft($event)" (swiperight)="swipeRight($event)"
        id="card-animate">
        <img src="../../assets/img/pc.jpg" />
        <ion-card-header>
          <ion-card-title>{{card.name}}</ion-card-title>
        </ion-card-header>

        <ion-list *ngIf="card.game">
          Minha Plataforma : {{card.game.platform}} || Game : {{card.game.name}}
          <br><br>
          {{card.description}}
        </ion-list>

      </ion-card>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col class="ion-align-items-center" size-xs="2">
        <div class="icon-container">
          <ion-icon name="close" color="primary" (click)="like(false)"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="ion-align-items-center" size-xs="2">
        <div class="icon-container">
          <ion-icon name="heart" color="success" (click)="like(true)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>