<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="13">
        <div class="logo-container">
          <h1>Criar</h1>
          <h1>uma conta</h1>
        </div>

        <div class="form-container">

          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input [(ngModel)]="email" required type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="email" required type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input [(ngModel)]="password" required type="password"></ion-input>
          </ion-item>
        </div>

        <div padding class="button-container">
          <ion-button color="danger" expand="block" (click)="register()">Cadastre</ion-button>
        </div>

        <div padding text-center class="login-container">
          <p>Já possui uma conta?<a style="color: red" href="login"> Logar</a></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>