.logo-container {
  margin-top: 5vh;

  h1 {
    margin: 0 4vw;
  }
}

.form-container {
  margin-top: 5vh;
  padding: 2vh 0;

  ion-item {
    margin: 0 3vw;
    width: 94vw;
  }
}

.button-container ion-button {
  height: 8vh;
  --border-radius: 20em;
}