.logo-container {
  margin: 80px 0;
}

.logo-container h1 {
  margin: 0 5%;
}

.form-container {
  padding: 15px 0;
}

.form-container ion-item {
  margin: 0 5%;
  width: 90%;
}

.button-container ion-button {
  height: 55px;
  --border-radius: 50px;
}