ion-toolbar {
  ion-icon {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.5em;
  }
}
.photo-container{
  text-align: center;
  background: gray;

  img {
    border-bottom-left-radius: 2em !important;
    border-bottom-right-radius: 2em !important;
    max-height: 40vh;
  }

  ion-icon {
    height: 30vh;
    width: 100vw;
  }

}
.info-container {
  text-align: center;

  h2, h4 {
    margin: 1vh 0;  
  }

  h5{
    margin: 0 !important;
  }

  ion-icon {
    color: var(--ion-color-primary);
    width: 2em;
    margin-top: 1em;
    height: 2em;
  }
}

.content {
    position : absolute; 
     top : 0;
     left : 0;
     height: 100vh;
     width: 100vw;
}
